<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>==== FLEX Habitation ====</display-name>
  <description>JFROOTMASTER Application</description>
  <servlet>
    <description>  JFROOTMASTER  MessageBroker </description>
    <display-name>MessageBrokerServlet</display-name>
    <servlet-name>MessageBrokerServlet</servlet-name>
    <servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
    <init-param>
      <param-name>services.configuration.file</param-name>
      <param-value>/WEB-INF/flex/services-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageBrokerServlet</servlet-name>
    <url-pattern>/messagebroker/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RPTLinhaporvend</display-name>
    <servlet-name>RPTLinhaporvend</servlet-name>
    <servlet-class>br.com.cba.servlet.RPTLinhaporvend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RPTLinhaporvend</servlet-name>
    <url-pattern>/prnLinhaporvend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RPTEstados</display-name>
    <servlet-name>RPTEstados</servlet-name>
    <servlet-class>br.com.cba.servlet.RPTEstados</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RPTEstados</servlet-name>
    <url-pattern>/prnEstados</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RPTCidades</display-name>
    <servlet-name>RPTCidades</servlet-name>
    <servlet-class>br.com.cba.servlet.RPTCidades</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RPTCidades</servlet-name>
    <url-pattern>/prnCidades</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RPTBairros</display-name>
    <servlet-name>RPTBairros</servlet-name>
    <servlet-class>br.com.cba.servlet.RPTBairros</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RPTBairros</servlet-name>
    <url-pattern>/prnBairros</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RPTTipoLogradouro</display-name>
    <servlet-name>RPTTipoLogradouro</servlet-name>
    <servlet-class>br.com.cba.servlet.RPTTipoLogradouro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RPTTipoLogradouro</servlet-name>
    <url-pattern>/prnTipoLogradouro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RPTGrupoUsuario</display-name>
    <servlet-name>RPTGrupoUsuario</servlet-name>
    <servlet-class>br.com.cba.servlet.RPTGrupoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RPTGrupoUsuario</servlet-name>
    <url-pattern>/prnGrupoUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RPTUsuarios</display-name>
    <servlet-name>RPTUsuarios</servlet-name>
    <servlet-class>br.com.cba.servlet.RPTUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RPTUsuarios</servlet-name>
    <url-pattern>/prnUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PRNUnidades</display-name>
    <servlet-name>PRNUnidades</servlet-name>
    <servlet-class>br.com.cba.servlet.PRNUnidades</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PRNUnidades</servlet-name>
    <url-pattern>/prnUnidades</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PRNFabricantes</display-name>
    <servlet-name>PRNFabricantes</servlet-name>
    <servlet-class>br.com.cba.servlet.PRNFabricantes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PRNFabricantes</servlet-name>
    <url-pattern>/prnFabricantes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PRNMontadoras</display-name>
    <servlet-name>PRNMontadoras</servlet-name>
    <servlet-class>br.com.cba.servlet.PRNMontadoras</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PRNMontadoras</servlet-name>
    <url-pattern>/prnMontadoras</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PRNFamilias</display-name>
    <servlet-name>PRNFamilias</servlet-name>
    <servlet-class>br.com.cba.servlet.PRNFamilias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PRNFamilias</servlet-name>
    <url-pattern>/prnFamilias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PRNLinhas</display-name>
    <servlet-name>PRNLinhas</servlet-name>
    <servlet-class>br.com.cba.servlet.PRNLinhas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PRNLinhas</servlet-name>
    <url-pattern>/prnLinhas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PRNModelos</display-name>
    <servlet-name>PRNModelos</servlet-name>
    <servlet-class>br.com.cba.servlet.PRNModelos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PRNModelos</servlet-name>
    <url-pattern>/prnModelos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PRNGruposProdutos</display-name>
    <servlet-name>PRNGruposProdutos</servlet-name>
    <servlet-class>br.com.cba.servlet.PRNGruposProdutos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PRNGruposProdutos</servlet-name>
    <url-pattern>/prnGruposProdutos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PRNSubGruposProdutos</display-name>
    <servlet-name>PRNSubGruposProdutos</servlet-name>
    <servlet-class>br.com.cba.servlet.PRNSubGruposProdutos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PRNSubGruposProdutos</servlet-name>
    <url-pattern>/prnSubGruposProdutos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PRNProdutos</display-name>
    <servlet-name>PRNProdutos</servlet-name>
    <servlet-class>br.com.cba.servlet.PRNProdutos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PRNProdutos</servlet-name>
    <url-pattern>/prnProdutos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PRNEmpresas</display-name>
    <servlet-name>PRNEmpresas</servlet-name>
    <servlet-class>br.com.cba.servlet.PRNEmpresas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PRNEmpresas</servlet-name>
    <url-pattern>/prnEmpresas</url-pattern>
  </servlet-mapping>
</web-app>