/* CSS file */
Application {
   backgroundGradientColors: #4A4A4A, #171717;
   color: #ffff00;
	backgroundGradientAlphas: 1.0, 1.0;
}

ApplicationControlBar {
   highlightAlphas: 0.36, 0.12;
   fillAlphas: 0.44, 0.16;
   fillColors: #000000, #333333;
   backgroundColor: #000000;
   backgroundAlpha: 1;
   dropShadowEnabled: true;
   shadowDistance: 6;
   shadowDirection: center;
}
.PanelIndex {
   borderStyle: solid;
   roundedBottomCorners: true;
   cornerRadius: 10;
   backgroundAlpha: 0.3;
   backgroundColor: #000000;
   shadowDistance: 5;
   shadowDirection: right;
   statusStyleName: panelStatus;
   dropShadowColor: #505050;
}


